<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" const="text/html;charset=UTF-8" />
    <link href="http://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="style.css" >
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
    <title>Simple Chat App</title>
  </head>

  <body>
    <header>
      <h2 class="text-center">ChatMon</h2>
      <h5 class="ht">Happy Chatting!</h5>
    </header>
    <br>
    <section class="chatarea">
      <div class="container">
      <div id="change_username">
        <input id="username" type="text" placeholder="Enter username.."/>
      </div>
      <button type="button" class="btn btn-success" id="send_username">Username</button>
    </section>
    <section id="chatroom">
      <section id="feedback"></section>
    </section>

    

    <section id="input_zone"> 
      <input id="message" class="vertical-align" type="text" placeholder="Enter message.."/>
    </section>
    <section id="input_zone"> 
      <button id = "send_message" type="button" class="btn btn-danger vertical-align">Send</button>
    </section>
  </div>
  <br>
  <section>
    <!-- Footer -->
<footer class="page-footer font-small special-color-dark pt-4">

  <!-- Footer Elements -->
 

    <!-- Social buttons -->
    <ul class="list-unstyled list-inline text-center">
      <li class="list-inline-item">
        <a class="btn-floating btn-fb mx-1" href="https://www.facebook.com/profile.php?id=100007088613867">
          <i class="fab fa-facebook-f"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-tw mx-1" href="https://twitter.com/Abhi_1299">
          <i class="fab fa-twitter"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-gplus mx-1" href="https://www.instagram.com/abhishek__912/">
          <i class="fab fa-instagram"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-li mx-1" href="https://www.linkedin.com/in/abhishekpandey921/">
          <i class="fab fa-linkedin-in"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-dribbble mx-1" href="https://github.com/Abhi-912/">
          <i class="fab fa-github"> </i>
        </a>
      </li>
    </ul>
    <!-- Social buttons -->
  <!-- Footer Elements -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">Made with <i class="fas fa-heart"></i>
    Abhi_921</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
  </section>
  
  <script src="https://kit.fontawesome.com/c8e4d183c2.js" crossorigin="anonymous"></script>
  <script type="module" src="https://unpkg.com/ionicons@5.2.3/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule="" src="https://unpkg.com/ionicons@5.2.3/dist/ionicons/ionicons.js"></script>
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="chat.js"></script> 
  </body>
</html>
